---
import ShoppingCart from "../../assets/svg/shopping-cart.svg";
import CartResume from "./CartResume.astro";
import Close from "../../assets/svg/close.svg";
import { getLangFromUrl } from "../../i18n/utils";
---

<button 
    id="cart-toggle-btn"
    aria-label="Abrir carrito de compras"
    class="fixed bottom-10 right-5 z-50 p-4 rounded-full flex items-center justify-center bg-green-800 text-white shadow-lg hover:bg-green-700 hover:shadow-xl hover:-translate-y-1 hover:cursor-pointer transition-all duration-300 focus:outline-none focus:ring-4 focus:ring-green-900/30 group"
>
    <ShoppingCart class="size-7 transition-transform group-hover:scale-110" />

    <span id="cart-badge" class="absolute -top-1 -right-1 flex h-6 w-6 items-center justify-center rounded-full bg-red-500 text-xs font-bold text-white shadow-sm border-2 border-white">
        0
    </span>
</button>

<div 
    id="cart-backdrop" 
    class="fixed inset-0 bg-neutral-900/40 z-40 opacity-0 pointer-events-none transition-opacity duration-300 backdrop-blur-sm"
></div>

<section 
    id="cart-drawer" 
    class="fixed bottom-0 left-0 w-full md:w-120 md:left-auto md:right-5 md:bottom-0 md:rounded-2xl h-[80vh] md:h-[600px] max-h-screen bg-white z-50 transform translate-y-full transition-transform duration-500 ease-[cubic-bezier(0.32,0.72,0,1)] rounded-t-3xl shadow-2xl flex flex-col overflow-hidden"
>
    <div class="p-6 border-b border-neutral-100 flex justify-between items-center bg-stone-50">
        <h2 class="text-2xl font-serif text-green-900">Tu Despensa</h2>
        <button id="close-cart-btn" class="p-2 text-red-500 hover:text-red-400 hover:bg-stone-200 hover:cursor-pointer rounded-full transition-colors" aria-label="Cerrar carrito">
            <Close />
        </button>
    </div>

    <div id="shop-items-list" class="flex-1 overflow-y-auto p-6 flex flex-col gap-4">

    </div>

    <CartResume />
</section>

<!-- Comportamiento del boton del carrito -->
<script>
    import { initCartMenu } from "../../utils/ShopCartScripts";
    document.addEventListener("astro:page-load", initCartMenu);
</script>


<script>
    import type { ShopItem } from "../../types/shop";
    import { updateCartBadge, getProductListFromLocalStorage, setProductListFromLocalStorage } from "../../utils/ShopCartScripts";
    
    function init () {
        const cartBtn = document.getElementById("cart-toggle-btn") as HTMLButtonElement;
        const itemsList = document.getElementById("shop-items-list") as HTMLElement;

        function loadItems () {
            if(!itemsList) return;

            try {
                const items: ShopItem[] = getProductListFromLocalStorage();

                itemsList.innerHTML = items.length > 0 
                    ? items.map((item, index) => createItem(item, index)).join('')
                    : '<p class="text-center text-stone-400 py-10">Tu despensa está vacía</p>';

                updateCartBadge();

                window.dispatchEvent(new CustomEvent('refresh-total-price'));
            } catch (e) {
                console.error("Error: ", e);
            }
        }

        itemsList?.addEventListener("click", (e) => {
            const target = e.target as HTMLElement;
            const deleteBtn = target.closest('[data-action^="delete-"]') as HTMLButtonElement;
            
            if (deleteBtn) {
                const index = parseInt((deleteBtn as HTMLElement).dataset.action!.split('-')[1]);
                removeItem(index);
            }
        });

        function removeItem(index: number) {
            try {
                const shopList: ShopItem[] = getProductListFromLocalStorage() ?? [];
                const newList = shopList.filter((_, i) => i !== index);
                
                setProductListFromLocalStorage(newList);

                window.dispatchEvent(new CustomEvent('cart-updated'));

                loadItems();
            } catch (error) {
                console.error("Error al borrar:", error);
            }
        }

        function createItem(item: ShopItem, index: number) {
            const path = window.location.pathname;
            const lang = path.split('/')[1] || 'es';

            const priceFormatter = new Intl.NumberFormat('es-ES', {
                style: 'currency',
                currency: 'EUR',
            });

            const isNumericFormat = !isNaN(Number(item.format));
            const pieceWeight = Number(item.pieceWeight) / 1000;
            const weightMultiplier = isNumericFormat ? Number(item.format) / 1000 : pieceWeight;
            
            // Precio por unidad de formato (en euros)
            const unitPrice = (Number(item.pricePerKg) / 100) * weightMultiplier;
            const lineTotal = unitPrice * Number(item.quantity);

            return `
                <div class="flex gap-4 pb-4 border-b border-stone-100 group relative">
                    <a href="/${lang}/products/${item.id}" class="flex gap-4 flex-1">
                        <div class="w-20 h-20 bg-stone-200 rounded-md overflow-hidden flex-shrink-0">
                            <img 
                                src="${item.image ?? "/images/no-photo.avif"}" 
                                alt="${item.name}" 
                                class="w-full h-full object-cover"
                                loading="lazy"
                            />
                        </div>
                        
                        <div class="flex flex-col justify-between py-1">
                            <div>
                                <h3 class="font-bold text-stone-800 text-sm md:text-base leading-tight">
                                    ${item.name}
                                </h3>
                                <p class="text-stone-500 text-xs mt-1">
                                    ${item.quantity} x ${isNumericFormat ? item.format + ' gr' : 'Pieza entera'}
                                </p>
                            </div>
                            <h4 class="text-xs text-stone-400">
                                ${priceFormatter.format(Number(item.pricePerKg) / 100)} / kg
                            </h4>
                        </div>
                    </a>

                    <div class="flex flex-col justify-between items-end py-1">
                        <button 
                            data-action="delete-${index}"
                            class="text-stone-300 hover:text-red-600 transition-colors cursor-pointer p-1"
                            aria-label="Eliminar producto"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                            </svg>                        
                        </button>
                        
                        <span class="font-bold text-green-900 text-sm">
                            ${priceFormatter.format(lineTotal)}
                        </span>
                    </div>
                </div>    
            `;
        }

        cartBtn?.addEventListener("click", loadItems);

        window.addEventListener("cart-updated", loadItems);
    }
    
    document.addEventListener("astro:page-load", init);
</script>